@use 'variables' as *
@charset 'utf-8'

/* Styling social Icons */
.navigationLinks a,
.connect a
	width: 40px
	height: 40px
	font-size: 0px
	display: block
	margin: 0.5rem 0

.close
	display: none
	position: absolute
	width: 40px
	height: 40px
	cursor: pointer
	z-index: 100
	top:1rem
	right:0rem
	border-radius: 0.25em
	transform: none
	background-repeat: no-repeat
	background-position: center
	&.showing
		display: block

.switch
	position: relative
	display: inline-block
	width: 40px
	height: 20px
	background-color: rgba(0, 0, 0, 0.25)
	border-radius: 20px
	transition: all 0.3s
	cursor: pointer

.switch::after
	content: ''
	position: absolute
	width: 18px
	height: 18px
	border-radius:50%
	background-color: white
	top: 1px
	left: 1px
	transition: all 0.3s

.light
	display: block
	position: absolute
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7L12,7z M11,1v4h2V1L11,1z M11,19v4h2v-4L11,19z M23,11l-4,0v2 l4,0V11z M5,11l-4,0l0,2l4,0L5,11z M16.24,17.66l2.47,2.47l1.41-1.41l-2.47-2.47L16.24,17.66z M3.87,5.28l2.47,2.47l1.41-1.41 L5.28,3.87L3.87,5.28z M6.34,16.24l-2.47,2.47l1.41,1.41l2.47-2.47L6.34,16.24z M18.72,3.87l-2.47,2.47l1.41,1.41l2.47-2.47 L18.72,3.87z'/%3E%3C/svg%3E")

.dark
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36c-0.98,1.37-2.58,2.26-4.4,2.26 c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z'/%3E%3C/svg%3E")

.checkbox:checked + .switch::after
	left: 20px

.checkbox:checked + .switch
	background-color: #7983ff

.checkbox
	display: none

