@use 'variables' as *
@use 'mixins'
@charset 'utf-8'


header
	margin:1em 0

nav
	position: fixed
	width: 100%
	bottom: 0
	border-top: 1px solid $lightGrey
	background: radial-gradient(hsla(255,100%,100%,1), hsla(0,0%,87%, 1))
	z-index: 100
	& ul
		display: flex
		justify-content: space-around



	& nav a
		position: relative
		&active::before
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' width='50' height='50' viewBox='0 0 531.74 460.5' fill='hsla(0,0%25,87%25, 1)' stroke='hsla(40.6,90%25,45%25,1)' stroke-width='1' overflow='visible'%3E%3Cpolygon points='530.874,0.5 265.87,459.5 0.866,0.5 '/%3E%3C/svg%3E")
			position: absolute
			top: -48px
			left: 50%
			transform: translateX(-50%)

.aboutPopup
	width: 96vw
	margin: auto
	position: fixed
	bottom: 70px
	left: 50%
	transform: translateX(-50%)
	background-color: $lightGrey
	z-index: 99
	&.showing
		display: block
	article
		display: none
		padding:1em
		font-size: 0.8em
		margin:0
		background-color: rgba(235,235,235,1)
		&.showing
			display: block


.aboutPopup hr
	display: none


.collections ul
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	gap: 2em 1em
	grid-template-areas: ". . ." ". . ." ". . ."
	text-align: center


.collections a.active
	font-weight: 700

.connect ul
	display: flex
	justify-content: space-around
